@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* ### Primary */

    --ModerateViolet: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);

    /* ### Neutral */

    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-content: content;
    min-height: 100vh;
    font-family: "Montserrat", serif;
    background-color: var(--LightGray);

}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

main {
    display: grid;
    gap: 1.5rem;
    width: min(95%, 80rem);
    padding-block: 2rem;
    margin-inline: auto;
}

@media (min-width: 50em) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-cols-span-2 {
        grid-column: span 2;
    }


    .kira {
        grid-column: 4;
        grid-row: 1 / span 2;
    }
}

.bg-white {
    background-color: var(--White);
}

.clifford {
    position: relative;
    background-color: var(--ModerateViolet);
    color: var(--White);
}

.clifford .quotes {
    position: absolute;
    height: 20vh;
    top: 0;
    right: 4rem;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.clifford .card-header {
    z-index: 1;
}

.clifford span {
    z-index: 1;
}

.clifford .card-header p {
    color: var(--LightGray);
}

.patrick {
    background-color: var(--VeryDarkBlackishBlue);
    color: var(--White);
}


.walter {
    background-color: var(--VeryDarkGrayishBlue);
    color: var(--White);
}

.details-container {
    display: grid;
    align-items: center;
    gap: .5rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: 1rem;
}

.details-container p {
    font-size: small;
    color: var(--LightGray);
    font-weight: bold;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.card-header img {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255, 0.5);
}

.bold-text {
    font-size: 1.2em;
    font-weight: bold;
}


















.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}